# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
frontend\public\model\house.glb
node_modules
dist
dist-ssr
*.local
backend\src\chess-e3600-firebase-adminsdk-ckjup-4e265a5600.json
chess-e3600-firebase-adminsdk-ckjup-4e265a5600.json
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
