@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it appears on top */
  }
.square-dark{
    background-color:green;
}
.square-light{
    background-color: rgb(224, 212, 212);
}
.square-highLight{
    background-color: yellow;
}
.height-moves{
    height: 480px;
    margin-top: 80px;
    width: 200px;
}