@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it appears on top */
  }
.square-dark{
    background-color:green;
}
.square-light{
    background-color: rgb(224, 212, 212);
}
.square-highLight{
    background-color: yellow;
}
/* .square-highLight-light{
 
   background-color: green;  
   width: 16px;
   height: 16px;
   border-radius: 50%;     

} */


.square-highLight-light {
  width: 64px;              /* Adjust size as needed */
  height: 64px;             /* Adjust size as needed */
  background-color: rgb(224, 212, 212);  /* White background for the square */
  position: relative;       /* Allows the dot to be positioned inside */
 
}

.square-highLight-light::after {
  content: '';
  width: 10px;              /* Adjust size for the dot */
  height: 10px;             /* Adjust size for the dot */
  background-color: black;  /* Black dot */
  border-radius: 50%;       /* Makes the dot circular */
  position: absolute;
  top: 50%;                 /* Centers the dot vertically */
  left: 50%;                /* Centers the dot horizontally */
  transform: translate(-50%, -50%);  /* Adjusts for exact center */
}
.square-highLight-dark {
  width: 64px;              /* Adjust size as needed */
  height: 64px;             /* Adjust size as needed */
  background-color: green;  /* White background for the square */
  position: relative;       /* Allows the dot to be positioned inside */
    /* Optional: light border for the square */
}

.square-highLight-dark::after {
  content: '';
  width: 10px;              /* Adjust size for the dot */
  height: 10px;             /* Adjust size for the dot */
  background-color: black;  /* Black dot */
  border-radius: 50%;       /* Makes the dot circular */
  position: absolute;
  top: 50%;                 /* Centers the dot vertically */
  left: 50%;                /* Centers the dot horizontally */
  transform: translate(-50%, -50%);  /* Adjusts for exact center */
}

.height-moves{
    height: 480px;
    margin-top: 80px;
    width: 200px;
}
/* App.css */
.fade-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  .fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }
  .fade-exit {
    opacity: 1;
    transform: scale(1);
  }
  .fade-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }
  